/*
The game stylesheet.
Used for the styling of the game page.
*/

.game-image {
    background-image: url(../media/pexels-george-dolgikh-1303098.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#navbar {
    padding-left: 15%;
    padding-right: 15%;
    font-size: xx-large;
}

#btn-back {
    height: 40px;
    width: 80px;
}

#btn-back:hover {
    background-color: rgb(241, 21, 21);
    border-color: gold;

}
.btn {
    width: 200px;
    height: 80px;
    font-weight: 500;
    color: rgba(62, 49, 49, 0.865);
    border-width: 3px;
    border-color: #12b103;
}

.btn:hover {
    background-color: #0d6e04;
    color: rgb(241, 21, 21);
    border-color: gold;
}

#attempts {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.progress {
    margin-left: 25%;
}

.correct-answer:disabled {
    /* TODO: style the correct answer button */
    background-color: #0d6e04;
    color: rgb(241, 21, 21);
    border-color: gold;
}

.wrong-answer:disabled {
    /* TODO: style the wrong answer button */
    background-color: rgb(241, 21, 21);
    border-color: gold;
}

#topic {
    font-size: xx-large;
    font-weight: bold;
}

#question {
    font-size: x-large;
    margin-left: 10%;
    margin-right: 5%;
}

#sleigh {
    margin-top: 8px;
    font-size: medium;
    padding-left: 5px;
}
#gifts {
    font-size: large;
    background-color: #0d6e04;
    width: 68px;
    height: 40px;
    padding-top: 5px;
}
