/*
The home stylesheet.
Used for the styling of the home page.
*/

/* general style */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

/* Sound icon */
#sound-wrapper i {
	font-size: 2rem;
	color: #00ff00;
	transition: transform 0.2s ease, color 0.2s ease;
}

#sound-wrapper i:hover {
	cursor: pointer;
	transform: scale(0.9);
	color: #00cc00;
}

/* hero section style */
.home {
	width: 100vw;
	height: 100vh;
	background: url(../images/santa-background-optimized.jpg) no-repeat center center/cover;
	padding: 5% 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav {
	width: 100%;
	height: 20%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 9999;
	color: #fff8e1;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: larger;
	position: absolute;
	top: 20%;
	right: 10%;
}



.content {
	text-align: center;
	width: 50%;
	position: absolute;
	right: 25%;
}

.content h1 {
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 50px;
	text-shadow: 2px 2px 4px #83929c;
}

.content button {
	color: #ffffff;
	font-weight: bold;
	border: 2px solid #ffffff;
	padding: 15px 30px;
	border-radius: 50px;
	margin-top: 10px;
	transition: border-color 0.3s, color 0.3s;
	text-shadow: 2px 2px 4px #83929c;
	margin: 0 10px;
}

.content-button {
	border-color: #00ff00;
	box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
		inset 0 0 10px #00ff00, inset 0 0 20px #00ff00, inset 0 0 30px #00ff00;
	transition: border-color 0.3s, color 0.3s;
	animation: pulse 2s infinite;
}

.content button:hover {
	color: #83929c;
	border-color: #83929c;
	border-width: 3px;
	font-size: larger;
}

/* our team section style */

.title h4 {
	font-size: 50px;
	letter-spacing: 1.2px;
	word-spacing: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	word-wrap: break-word;
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
	background-size: 400%;
	animation: gradientAnimation 15s ease infinite;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Animation for gradient change */
@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#wrapper .card_Container {
	margin: 40px 0;
}

.card_Container .card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 380px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1), inset 0 0 0 1000px #afbcc586;
	border-radius: 15px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
}

.card .img-box {
	width: 250px;
	height: 370px;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	transition: 500ms ease;
	box-shadow: 0 10px 30px #000000cc;
	border: 1px solid #fff;
	cursor: pointer;
}

.Img {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 250px;

	aspect-ratio: 3 / 4;
	background-size: cover;
	background-position: center;
	pointer-events: none;
	transform: translate3d(0px, 0px, 0px) scale(1);
	transition: 500ms ease;
	transform-origin: bottom;
	z-index: 0;
	opacity: 0;
}

.Img .Content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	width: 100%;
	height: 60px;
	filter: blur(13px);
	opacity: 1;
	transition: opacity 500ms ease;
	background: #ffffff;
}

.card .Content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	transition: bottom 0.5s;
	transition-delay: 0.65s;
	opacity: 1;
	transition: opacity 500ms ease;
}

.card:hover .Content {
	backdrop-filter: blur(10px);
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	bottom: 0;
	transition-delay: 0s;
}

.img-box:hover {
	box-shadow: 0px 50px 50px #000000cc;
	transform: translate3d(0px, 0px, 25px) rotate3d(1, 0, 0, 55deg);
	filter: brightness(25%);
}
.img-box:hover ~ .Img {
	transform: translate3d(0px, -50px, 50px) scale(0.9);
	opacity: 1;
}

.Content .content-box h3 {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	word-spacing: 3px;
	font-weight: 400;
	font-size: 22px;
	text-align: center;
	margin: 20px 0 15px;
	line-height: 1.4;
	transition: 0.5s;
	transition-delay: 0.6s;
	opacity: 0;
	transform: translateY(-20px);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 6px rgba(255, 255, 255, 0.8);
}

.card:hover .Content .content-box h3 {
	opacity: 1;
	transform: translateY(0);
}

.Content .content-box h3 span {
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	display: inline-block;
	margin-top: 8px;
	transition: transform 0.2s ease;
}

.Content .content-box h3:hover,
.Content .content-box h3:hover span {
	transform: translateY(-3px);
}

.Content .icon {
	position: relative;
	bottom: 10px;
	display: flex;
}

.Content .icon li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.2s * var(--i));
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	--blue: #0077b5;
	--green: #28a745;
	--red: #bd2c00;
}

.Content .icon li:nth-child(3) a i.fa-brands.fa-linkedin-in {
	color: var(--blue);
}

.Content .icon li:nth-child(1) a i.fa-solid.fa-paper-plane {
	color: var(--green);
}

.Content .icon li:nth-child(2) a i.fa-brands.fa-github {
	color: var(--red);
}

.card:hover .Content .icon li {
	transform: translateY(0);
	opacity: 1;
}

.Content .icon li a {
	text-decoration: none;
	transition: transform 0.2s ease;
	font-size: 24px;
}

.Content .icon li a:hover {
	transform: scale(0.9);
}

.icon {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0;
	list-style: none;
	margin: 0;
}

.icon li {
	flex: 1;
	display: flex;
	justify-content: center;
}

.icon li a {
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #333;
	transition: background-color 0.3s ease;
}

/* animation */
@keyframes pulse {
	0% {
		box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
			inset 0 0 10px #00ff00, inset 0 0 20px #00ff00, inset 0 0 30px #00ff00;
	}
	50% {
		box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00,
			inset 0 0 20px #00ff00, inset 0 0 40px #00ff00, inset 0 0 60px #00ff00;
	}
	100% {
		box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
			inset 0 0 10px #00ff00, inset 0 0 20px #00ff00, inset 0 0 30px #00ff00;
	}
}

/* Media queries for responsiveness */
@media (max-width: 1025px) {

	/* Background Image */
	.home {
		background: url(/assets/images/santa-background-optimized.jpg) no-repeat
			left center/cover;
	}
}
