/*
The home stylesheet.
Used for the styling of the home page.
*/

/* general style */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden; /* Prevent scrolling if the video overflows */
}

/* background video style */
.background-video {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

/* hero section style */
.home {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
	position: relative;
	padding: 5% 5%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 9999;
	color: #fff8e1;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sound-wrapper i {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	overflow: hidden;
	color: #18e906;

	transition: color 0.1s ease-in-out;
}

#sound-wrapper:hover i {
	color: #ffffff;
}

.content {
	text-align: center;
	margin-bottom: 10vh;
}

.content h1 {
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 100px;
}
.content button {
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	font-size: 4vw;
	font-weight: bold;
	border: 4px solid #fff;
	padding: 2vw 6vw;
	border-radius: 50px;
	margin-top: 20px;
	transition: border-color 0.3s, color 0.3s;
}

.content button {
	border-color: #00ff00;
	box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
		inset 0 0 10px #00ff00, inset 0 0 20px #00ff00, inset 0 0 30px #00ff00;
	transition: border-color 0.3s, color 0.3s;
	animation: pulse 2s infinite;
}

.content button:hover {
	color: #fff;
	border-color: #fff;
	border-width: 4px;
	animation-play-state: paused;
}

/* animation */
@keyframes pulse {
	0% {
		/* Start with original glow */
		box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
			inset 0 0 10px #00ff00, inset 0 0 20px #00ff00, inset 0 0 30px #00ff00;
	}
	50% {
		/* Increase glow halfway */
		box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00,
			inset 0 0 20px #00ff00, inset 0 0 40px #00ff00, inset 0 0 60px #00ff00;
	}
	100% {
		/* Return to original glow */
		box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
			inset 0 0 10px #00ff00, inset 0 0 20px #00ff00, inset 0 0 30px #00ff00;
	}
}

/* Media queries for responsiveness */

/* Sound Icon */
@media (max-width: 768px) {
	#sound-wrapper i {
		font-size: 1.5em;
	}
}

/* Background Video */
@media (min-aspect-ratio: 16/9) {
	.video-background {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.video-background {
		width: auto;
		height: 100%;
	}
}

/* Button */
@media (min-width: 768px) {
	.content button {
		font-size: 24px;
		padding: 14px 40px;
	}
}

@media (max-width: 576px) {
	.content button {
		font-size: 6vw;
		padding: 3vw 8vw;
	}
}
