/*
The main game stylesheet.
Used for the general styling of the site eg. main font, etc.
and for shared elements between the home page and the game page, eg. game rules modal, etc.
*/

/* Google */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    font-family: 'Berkshire Swash';
}

/* User-centric key foreground elements */
.user-centric {
    z-index: 999;
    position: relative;
}

/* Icon buttons */
.icon-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #1da3a3;
    font-size: 3rem;
}

.icon-btn i:hover {
    background-color: transparent;
    transform: scale(1.07);
    color: #11b3b3;
    transition: transform 0.2s ease-in-out;
}
/* ./Icon buttons */